html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height:
}

ol {
    padding-left: 1.4em;
    list-style:
}

ul {
    padding-left: 1.4em;
    list-style:
}

table {
    border-collapse: border-spacing: 0;
}


/* end reset browser styles */

html {
    background-color: rgb(253, 248, 171);
}

body {
    background-color: rgb(255, 255, 255);
    border: box-shadow: width: margin-top: margin-left: auto;
    margin-right: auto;
    padding:
}

h1 {
    font-size: font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    text-align: letter-spacing: 1px;
    color: text-transform: background-color: rgb(226, 235, 180);
    padding: margin:
}

h2 {
    font-size: font-family: ;
    "Arial Narrow",
    Arial,
    Helvetica,
    sans-serif;
    color: rgb(255, 153, 0);
    border-top: border-bottom: padding-top: padding-bottom: margin: overflow: hidden;
}

.sidebar {
    width: float: right;
    margin: background-color: rgb(250, 235, 199);
    padding: border: 1px dotted rgb(252, 101, 18);
    border-top: border-radius: box-shadow:
}

.sidebar h2 {
    border: none;
    margin-top: 0;
    padding: 0;
}