html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    display: block;
}

body {
    box-shadow: 5px 5px 5px grey;
    width: 724;
}

ol {
    padding-left: 1.4em;
    list-style: 0;
}

ul {
    padding-left: 1.4em;
    list-style: 0;
}

table {
    border-collapse: 0;
    border-spacing: 0;
}


/* end reset browser styles */

html {
    background-color: rgb(253, 248, 171);
}

body {
    background-color: rgb(255, 255, 255);
    border: solid;
    box-shadow: 10px 10px 8px #888888;
    width: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding:
}

h1 {
    color: #A9D708;
    background-color: #C4F79E;
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 15px;
    font-family: ("Arial Narrow", Arial, Helvetica, sans-serif);
    color: rgb(255, 153, 0);
    border-top: 10px rgb(255, 153, 0);
    border-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: auto;
    overflow: hidden;
}

.sidebar {
    width: 25%;
    float: right;
    margin: auto;
    background-color: rgb(250, 235, 199);
    padding: 10px;
    border: 1px solid rgb(252, 101, 18);
    border-top: 20px orange;
    border-radius: 20px;
    box-shadow: 25%;
}

.sidebar h2 {
    border: none;
    margin-top: 0;
    padding: 0;
}